USE [master]
GO
/****** Object:  Database [ExaminationSystem]    Script Date: 3/5/2026 4:46:52 AM ******/
CREATE DATABASE [ExaminationSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExaminationSystemMDF', FILENAME = N'F:\develop\ITI dotNet Full Stack\prjects\sql Project\databaseFile\ExaminationSystem.mdf' , SIZE = 59392KB , MAXSIZE = UNLIMITED, FILEGROWTH = 51200KB )
 LOG ON 
( NAME = N'ExaminationSystemLDF', FILENAME = N'F:\develop\ITI dotNet Full Stack\prjects\sql Project\databaseFile\ExaminationSystem.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 20480KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExaminationSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExaminationSystem]
GO
/****** Object:  Schema [Academic]    Script Date: 3/5/2026 4:46:52 AM ******/
CREATE SCHEMA [Academic]
GO
/****** Object:  Schema [CoreSystem]    Script Date: 3/5/2026 4:46:52 AM ******/
CREATE SCHEMA [CoreSystem]
GO
/****** Object:  Schema [ExamSystem]    Script Date: 3/5/2026 4:46:52 AM ******/
CREATE SCHEMA [ExamSystem]
GO
/****** Object:  UserDefinedFunction [CoreSystem].[fn_CheckUserRole]    Script Date: 3/5/2026 4:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [CoreSystem].[fn_CheckUserRole] (@UserId int  , @RoleId int)
returns bit
as  
begin 
	declare @isInRole bit  = 0 ; 
	
	IF EXISTS (
	select 1 
	from CoreSystem.UserRole as ur  
	where ur.UserId = @UserId AND ur.RoleId = @RoleId )
    begin
	set @isInRole = 1 ; 
	end

	return @isInRole
end
GO
/****** Object:  UserDefinedFunction [ExamSystem].[fn_IsExamActive]    Script Date: 3/5/2026 4:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [ExamSystem].[fn_IsExamActive] (@ExamId INT)
RETURNS BIT
AS
BEGIN
    DECLARE @IsActive BIT = 0;

    IF EXISTS (SELECT 1 FROM ExamSystem.Exam as e
        WHERE e.ExamId = @ExamId
          AND GETDATE() BETWEEN e.StartTime AND e.EndTime
    )
    SET @IsActive = 1;

    RETURN @IsActive;
END

GO
/****** Object:  Table [CoreSystem].[UserAccount]    Script Date: 3/5/2026 4:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CoreSystem].[UserAccount](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[NormalizedEmail]  AS (upper([Email])) PERSISTED,
	[UserName] [varchar](50) NOT NULL,
	[NormalizedUserName]  AS (upper([UserName])) PERSISTED,
	[PasswordHashed] [varbinary](32) NOT NULL,
 CONSTRAINT [pkUserAccount_UserId] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CoreSystem].[Department]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CoreSystem].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [pkDepartment_DepartmentId] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CoreSystem].[Branch]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CoreSystem].[Branch](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [pkBranch_BranchId] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CoreSystem].[Track]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CoreSystem].[Track](
	[TrackId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BranchId] [int] NOT NULL,
 CONSTRAINT [pkTrack_TrackId] PRIMARY KEY CLUSTERED 
(
	[TrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Academic].[Intake]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Academic].[Intake](
	[IntakeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MaxNoStudent] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TrackId] [int] NOT NULL,
 CONSTRAINT [pkIntake_IntakeId] PRIMARY KEY CLUSTERED 
(
	[IntakeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Academic].[Class]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Academic].[Class](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IntakeId] [int] NOT NULL,
 CONSTRAINT [pkClass_ClassId] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Academic].[Student]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Academic].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Age]  AS (datediff(year,[BirthDate],getdate())),
	[ClassId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [pkStudent_StudentId] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Academic].[vw_AllStudents]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Academic].[vw_AllStudents]
AS
SELECT 
    s.StudentId,
    u.UserName,
    s.Name AS StudentName,
    c.ClassId,
    c.Name AS ClassName,
    i.IntakeId,
    i.Name AS IntakeName,
    t.TrackId,
    t.Name AS TrackName,
    b.BranchId,
    b.Name AS BranchName,
    d.DepartmentId,
    d.Name AS DepartmentName
FROM Academic.Student s
JOIN CoreSystem.[UserAccount] u ON u.UserId = s.UserId
JOIN Academic.Class c ON c.ClassId = s.ClassId
JOIN Academic.Intake i ON i.IntakeId = c.IntakeId
JOIN CoreSystem.Track t ON t.TrackId = i.TrackId
JOIN CoreSystem.Branch b ON b.BranchId = t.BranchId
JOIN CoreSystem.Department d ON d.DepartmentId = b.DepartmentId;
GO
/****** Object:  Table [ExamSystem].[ExamQuestions]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamSystem].[ExamQuestions](
	[ExamId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[QuestionDegree] [int] NOT NULL,
 CONSTRAINT [pkExamQuestions_ExamIdQuestionId] PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Academic].[Course]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Academic].[Course](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[MaxDegree] [int] NOT NULL,
	[MinDegree] [int] NOT NULL,
 CONSTRAINT [pkCourse_CourseId] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Academic].[Instructor]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Academic].[Instructor](
	[InstructorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [varchar](50) NULL,
	[BirthDate] [date] NOT NULL,
	[Age]  AS (datediff(year,[BirthDate],getdate())),
	[UserId] [int] NOT NULL,
 CONSTRAINT [pkInstructor_InstructorId] PRIMARY KEY CLUSTERED 
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ExamSystem].[Exam]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamSystem].[Exam](
	[ExamId] [int] IDENTITY(1,1) NOT NULL,
	[AcademicYear] [int] NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[ExamDate]  AS (CONVERT([date],[StartTime])) PERSISTED,
	[TotalTime] [time](7) NOT NULL,
	[TotalDegree] [int] NOT NULL,
	[ExamTypeId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[ExamTitle] [nvarchar](500) NULL,
 CONSTRAINT [pkExam_ExamId] PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ExamSystem].[vw_ExamSummary]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [ExamSystem].[vw_ExamSummary]
AS
SELECT 
    e.ExamId,
    e.CourseId,
    c.Name AS CourseName,
    e.InstructorId,
    i.Name AS InstructorName,
    e.StartTime,
    e.EndTime,
    e.TotalDegree,
    -- Optional: عدد الأسئلة في الامتحان
    ISNULL(q.QuestionCount, 0) AS TotalQuestions
FROM ExamSystem.Exam e
JOIN Academic.Course c       ON c.CourseId = e.CourseId
JOIN Academic.Instructor i   ON i.InstructorId = e.InstructorId
LEFT JOIN (
    SELECT ExamId, COUNT(*) AS QuestionCount
    FROM ExamSystem.ExamQuestions
    GROUP BY ExamId
) q ON q.ExamId = e.ExamId;
GO
/****** Object:  View [dbo].[vw_Students]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Students]
AS
SELECT 
    s.StudentId,
    s.Name AS StudentName,
    s.BirthDate,
    s.Age,
    c.Name AS ClassName,
    ua.Email,
    ua.UserName
FROM Academic.Student s
INNER JOIN Academic.Class c ON s.ClassId = c.ClassId
INNER JOIN CoreSystem.UserAccount ua ON s.UserId = ua.UserId;
GO
/****** Object:  View [dbo].[vw_Instructors]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Instructors]
AS
SELECT 
    i.InstructorId,
    i.Name AS InstructorName,
    i.Phone,
    i.Age,
    ua.Email
FROM Academic.Instructor i
INNER JOIN CoreSystem.UserAccount ua ON i.UserId = ua.UserId;
GO
/****** Object:  View [dbo].[vw_Courses]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Courses]
AS
SELECT 
    CourseId,
    Name AS CourseName,
    Description,
    MaxDegree,
    MinDegree
FROM Academic.Course;
GO
/****** Object:  Table [Academic].[CourseOffering]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Academic].[CourseOffering](
	[InstructorId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[AcademicYear] [int] NOT NULL,
 CONSTRAINT [pkCourseOffering_InstructorIdCourseIdClassIdAcademicYear] PRIMARY KEY CLUSTERED 
(
	[InstructorId] ASC,
	[CourseId] ASC,
	[ClassId] ASC,
	[AcademicYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CourseAssignments]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View: Course Assignments (من بيدرس إيه)
CREATE   VIEW [dbo].[vw_CourseAssignments]
AS
SELECT 
    co.InstructorId,
    i.Name AS InstructorName,
    co.CourseId,
    c.Name AS CourseName,
    co.ClassId,
    cl.Name AS ClassName,
    co.AcademicYear
FROM Academic.CourseOffering co
INNER JOIN Academic.Instructor i ON co.InstructorId = i.InstructorId
INNER JOIN Academic.Course c ON co.CourseId = c.CourseId
INNER JOIN Academic.Class cl ON co.ClassId = cl.ClassId;
GO
/****** Object:  Table [ExamSystem].[QustionType]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamSystem].[QustionType](
	[QustionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [pkQustionType_QustionTypeId] PRIMARY KEY CLUSTERED 
(
	[QustionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ExamSystem].[QuestionPool]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamSystem].[QuestionPool](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](1000) NOT NULL,
	[QustionTypeId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [pkQuestionPool_QuestionId] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Questions]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View: Questions with Type
CREATE   VIEW [dbo].[vw_Questions]
AS
SELECT 
    qp.QuestionId,
    qp.Question,
    qt.name AS QuestionType,
    c.Name AS CourseName
FROM ExamSystem.QuestionPool qp
INNER JOIN ExamSystem.QustionType qt ON qp.QustionTypeId = qt.QustionTypeId
INNER JOIN Academic.Course c ON qp.CourseId = c.CourseId;
GO
/****** Object:  Table [ExamSystem].[Choice]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamSystem].[Choice](
	[ChoiceId] [int] IDENTITY(1,1) NOT NULL,
	[ChoiceTxt] [nvarchar](500) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [pkChoice_ChoiceId] PRIMARY KEY CLUSTERED 
(
	[ChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_QuestionChoices]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_QuestionChoices]
AS
SELECT 
    ch.ChoiceId,
    ch.QuestionId,
    ch.ChoiceTxt,
    ch.IsCorrect
FROM ExamSystem.Choice ch;
GO
/****** Object:  Table [ExamSystem].[ExamType]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamSystem].[ExamType](
	[ExamTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [pkExamType_ExamTypeId] PRIMARY KEY CLUSTERED 
(
	[ExamTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Exams]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Exams]
AS
SELECT 
    e.ExamId,
    c.Name AS CourseName,
    et.Name AS ExamType,
    cl.Name AS ClassName,
    i.Name AS InstructorName,
    e.ExamDate,
    e.StartTime,
    e.EndTime,
    e.TotalDegree,
    CASE 
        WHEN GETDATE() < e.StartTime THEN 'Upcoming'
        WHEN GETDATE() BETWEEN e.StartTime AND e.EndTime THEN 'Active'
        ELSE 'Completed'
    END AS Status
FROM ExamSystem.Exam e
INNER JOIN Academic.Course c ON e.CourseId = c.CourseId
INNER JOIN ExamSystem.ExamType et ON e.ExamTypeId = et.ExamTypeId
INNER JOIN Academic.Class cl ON e.ClassId = cl.ClassId
INNER JOIN Academic.Instructor i ON e.InstructorId = i.InstructorId;
GO
/****** Object:  View [dbo].[vw_ExamQuestions]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View: Exam Questions
CREATE   VIEW [dbo].[vw_ExamQuestions]
AS
SELECT 
    eq.ExamId,
    eq.QuestionId,
    qp.Question,
    qt.name AS QuestionType,
    eq.QuestionDegree
FROM ExamSystem.ExamQuestions eq
INNER JOIN ExamSystem.QuestionPool qp ON eq.QuestionId = qp.QuestionId
INNER JOIN ExamSystem.QustionType qt ON qp.QustionTypeId = qt.QustionTypeId;
GO
/****** Object:  Table [ExamSystem].[StudentExam]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamSystem].[StudentExam](
	[StudentExamId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[IsAllow] [bit] NULL,
	[IsComplete] [bit] NULL,
	[TotalDegree] [int] NULL,
 CONSTRAINT [pkStudentExam_StudentExamId] PRIMARY KEY CLUSTERED 
(
	[StudentExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentResults]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_StudentResults]
AS
SELECT 
    s.StudentId,
    s.Name AS StudentName,
    e.ExamId,
    c.Name AS CourseName,
    se.TotalDegree AS StudentScore,
    e.TotalDegree AS ExamTotal,
    c.MinDegree AS PassMark,
    CASE 
        WHEN se.TotalDegree >= c.MinDegree THEN 'Pass'
        WHEN se.TotalDegree < c.MinDegree THEN 'Fail'
        ELSE 'Pending'
    END AS Result
FROM ExamSystem.StudentExam se
INNER JOIN Academic.Student s ON se.StudentId = s.StudentId
INNER JOIN ExamSystem.Exam e ON se.ExamId = e.ExamId
INNER JOIN Academic.Course c ON e.CourseId = c.CourseId
WHERE se.IsComplete = 1;
GO
/****** Object:  Table [ExamSystem].[StudentAnswer]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamSystem].[StudentAnswer](
	[StudentAnswerId] [int] IDENTITY(1,1) NOT NULL,
	[IsCorrect] [bit] NULL,
	[GivinMark] [int] NULL,
	[StudentExamId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[ChoiceId] [int] NOT NULL,
 CONSTRAINT [pkStudentAnswer_StudentAnswerId] PRIMARY KEY CLUSTERED 
(
	[StudentAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentAnswers]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_StudentAnswers]
AS
SELECT 
    sa.StudentAnswerId,
    s.StudentId,
    s.Name AS StudentName,
    e.ExamId,
    qp.Question,
    ch.ChoiceTxt AS Answer,
    sa.IsCorrect,
    sa.GivinMark
FROM ExamSystem.StudentAnswer sa
INNER JOIN ExamSystem.StudentExam se ON sa.StudentExamId = se.StudentExamId
INNER JOIN Academic.Student s ON se.StudentId = s.StudentId
INNER JOIN ExamSystem.Exam e ON se.ExamId = e.ExamId
INNER JOIN ExamSystem.QuestionPool qp ON sa.QuestionId = qp.QuestionId
INNER JOIN ExamSystem.Choice ch ON sa.ChoiceId = ch.ChoiceId;
GO
/****** Object:  View [dbo].[vw_UpcomingExams]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_UpcomingExams]
AS
SELECT 
    e.ExamId,
    c.Name AS CourseName,
    cl.Name AS ClassName,
    e.ExamDate,
    e.StartTime,
    DATEDIFF(DAY, GETDATE(), e.StartTime) AS DaysLeft
FROM ExamSystem.Exam e
INNER JOIN Academic.Course c ON e.CourseId = c.CourseId
INNER JOIN Academic.Class cl ON e.ClassId = cl.ClassId
WHERE e.StartTime > GETDATE();
GO
/****** Object:  Table [Academic].[TrackCourse]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Academic].[TrackCourse](
	[TrackId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [pkTrackId_CourseId] PRIMARY KEY CLUSTERED 
(
	[TrackId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CoreSystem].[Role]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CoreSystem].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [pkRole_RoleId] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CoreSystem].[UserRole]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CoreSystem].[UserRole](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [pkUserRole_UserIdRoleId] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [CoreSystem].[Role] ON 

INSERT [CoreSystem].[Role] ([RoleId], [Name]) VALUES (1, N'Admin')
INSERT [CoreSystem].[Role] ([RoleId], [Name]) VALUES (2, N'Instructor')
INSERT [CoreSystem].[Role] ([RoleId], [Name]) VALUES (3, N'Student')
SET IDENTITY_INSERT [CoreSystem].[Role] OFF
GO
SET IDENTITY_INSERT [CoreSystem].[UserAccount] ON 

INSERT [CoreSystem].[UserAccount] ([UserId], [Email], [UserName], [PasswordHashed]) VALUES (1, N'andro@gmail.com', N'andrew123', 0xE72B0F99596EB916C82278CC420F7BAC96619F6D6E7EE3AA5E3A9249724D6165)
SET IDENTITY_INSERT [CoreSystem].[UserAccount] OFF
GO
INSERT [CoreSystem].[UserRole] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [CoreSystem].[UserRole] ([UserId], [RoleId]) VALUES (1, 2)
GO
SET IDENTITY_INSERT [ExamSystem].[ExamType] ON 

INSERT [ExamSystem].[ExamType] ([ExamTypeId], [Name]) VALUES (2, N'Corrective')
INSERT [ExamSystem].[ExamType] ([ExamTypeId], [Name]) VALUES (1, N'Exam')
SET IDENTITY_INSERT [ExamSystem].[ExamType] OFF
GO
SET IDENTITY_INSERT [ExamSystem].[QustionType] ON 

INSERT [ExamSystem].[QustionType] ([QustionTypeId], [name]) VALUES (1, N'MCQ')
INSERT [ExamSystem].[QustionType] ([QustionTypeId], [name]) VALUES (2, N'T&F')
SET IDENTITY_INSERT [ExamSystem].[QustionType] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueClass_NamePerIntake]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [Academic].[Class] ADD  CONSTRAINT [uniqueClass_NamePerIntake] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[IntakeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueCourse_Name]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [Academic].[Course] ADD  CONSTRAINT [uniqueCourse_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uniqueInstructor_UserId]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [Academic].[Instructor] ADD  CONSTRAINT [uniqueInstructor_UserId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueIntake_NamePerTrack]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [Academic].[Intake] ADD  CONSTRAINT [uniqueIntake_NamePerTrack] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[TrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uniqueStudent_UserId]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [Academic].[Student] ADD  CONSTRAINT [uniqueStudent_UserId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueBranch_NamePerDepartment]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [CoreSystem].[Branch] ADD  CONSTRAINT [uniqueBranch_NamePerDepartment] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueDepartment_Name]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [CoreSystem].[Department] ADD  CONSTRAINT [uniqueDepartment_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueRole_Name]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [CoreSystem].[Role] ADD  CONSTRAINT [uniqueRole_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueTrackPerBranch]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [CoreSystem].[Track] ADD  CONSTRAINT [uniqueTrackPerBranch] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueUserAccount_NormalizedEmail]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [CoreSystem].[UserAccount] ADD  CONSTRAINT [uniqueUserAccount_NormalizedEmail] UNIQUE NONCLUSTERED 
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueUserAccount_NormalizedUserName]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [CoreSystem].[UserAccount] ADD  CONSTRAINT [uniqueUserAccount_NormalizedUserName] UNIQUE NONCLUSTERED 
(
	[NormalizedUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uniqueChoice_ChoiceIdQuestionId]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [ExamSystem].[Choice] ADD  CONSTRAINT [uniqueChoice_ChoiceIdQuestionId] UNIQUE NONCLUSTERED 
(
	[QuestionId] ASC,
	[ChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueExamType_Name]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [ExamSystem].[ExamType] ADD  CONSTRAINT [uniqueExamType_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueQustionType_name]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [ExamSystem].[QustionType] ADD  CONSTRAINT [uniqueQustionType_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uniqueStudentAnswer_StudentExam_Question]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [ExamSystem].[StudentAnswer] ADD  CONSTRAINT [uniqueStudentAnswer_StudentExam_Question] UNIQUE NONCLUSTERED 
(
	[StudentExamId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uniqueStudentExam_StudentIdExamId]    Script Date: 3/5/2026 4:46:53 AM ******/
ALTER TABLE [ExamSystem].[StudentExam] ADD  CONSTRAINT [uniqueStudentExam_StudentIdExamId] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Academic].[Class]  WITH CHECK ADD  CONSTRAINT [fkClass_IntakeId] FOREIGN KEY([IntakeId])
REFERENCES [Academic].[Intake] ([IntakeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[Class] CHECK CONSTRAINT [fkClass_IntakeId]
GO
ALTER TABLE [Academic].[CourseOffering]  WITH CHECK ADD  CONSTRAINT [fkCourseOffering_ClassId] FOREIGN KEY([ClassId])
REFERENCES [Academic].[Class] ([ClassId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[CourseOffering] CHECK CONSTRAINT [fkCourseOffering_ClassId]
GO
ALTER TABLE [Academic].[CourseOffering]  WITH CHECK ADD  CONSTRAINT [fkCourseOffering_CourseId] FOREIGN KEY([CourseId])
REFERENCES [Academic].[Course] ([CourseId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[CourseOffering] CHECK CONSTRAINT [fkCourseOffering_CourseId]
GO
ALTER TABLE [Academic].[CourseOffering]  WITH CHECK ADD  CONSTRAINT [fkCourseOffering_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [Academic].[Instructor] ([InstructorId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[CourseOffering] CHECK CONSTRAINT [fkCourseOffering_InstructorId]
GO
ALTER TABLE [Academic].[Instructor]  WITH CHECK ADD  CONSTRAINT [fkInstructor_UserId] FOREIGN KEY([UserId])
REFERENCES [CoreSystem].[UserAccount] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[Instructor] CHECK CONSTRAINT [fkInstructor_UserId]
GO
ALTER TABLE [Academic].[Intake]  WITH CHECK ADD  CONSTRAINT [fkIntake_TrackId] FOREIGN KEY([TrackId])
REFERENCES [CoreSystem].[Track] ([TrackId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[Intake] CHECK CONSTRAINT [fkIntake_TrackId]
GO
ALTER TABLE [Academic].[Student]  WITH CHECK ADD  CONSTRAINT [fkStudent_ClassId] FOREIGN KEY([ClassId])
REFERENCES [Academic].[Class] ([ClassId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[Student] CHECK CONSTRAINT [fkStudent_ClassId]
GO
ALTER TABLE [Academic].[Student]  WITH CHECK ADD  CONSTRAINT [fkStudent_UserId] FOREIGN KEY([UserId])
REFERENCES [CoreSystem].[UserAccount] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[Student] CHECK CONSTRAINT [fkStudent_UserId]
GO
ALTER TABLE [Academic].[TrackCourse]  WITH CHECK ADD  CONSTRAINT [fkTrackCourse_CourseId] FOREIGN KEY([CourseId])
REFERENCES [Academic].[Course] ([CourseId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[TrackCourse] CHECK CONSTRAINT [fkTrackCourse_CourseId]
GO
ALTER TABLE [Academic].[TrackCourse]  WITH CHECK ADD  CONSTRAINT [fkTrackCourse_TrackId] FOREIGN KEY([TrackId])
REFERENCES [CoreSystem].[Track] ([TrackId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Academic].[TrackCourse] CHECK CONSTRAINT [fkTrackCourse_TrackId]
GO
ALTER TABLE [CoreSystem].[Branch]  WITH CHECK ADD  CONSTRAINT [fkBranch_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [CoreSystem].[Department] ([DepartmentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CoreSystem].[Branch] CHECK CONSTRAINT [fkBranch_DepartmentId]
GO
ALTER TABLE [CoreSystem].[Track]  WITH CHECK ADD  CONSTRAINT [fkTrack_BranchId] FOREIGN KEY([BranchId])
REFERENCES [CoreSystem].[Branch] ([BranchId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CoreSystem].[Track] CHECK CONSTRAINT [fkTrack_BranchId]
GO
ALTER TABLE [CoreSystem].[UserRole]  WITH CHECK ADD  CONSTRAINT [fkUserRole_RoleId] FOREIGN KEY([RoleId])
REFERENCES [CoreSystem].[Role] ([RoleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CoreSystem].[UserRole] CHECK CONSTRAINT [fkUserRole_RoleId]
GO
ALTER TABLE [CoreSystem].[UserRole]  WITH CHECK ADD  CONSTRAINT [fkUserRole_UserId] FOREIGN KEY([UserId])
REFERENCES [CoreSystem].[UserAccount] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CoreSystem].[UserRole] CHECK CONSTRAINT [fkUserRole_UserId]
GO
ALTER TABLE [ExamSystem].[Choice]  WITH CHECK ADD  CONSTRAINT [fkChoice_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [ExamSystem].[QuestionPool] ([QuestionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[Choice] CHECK CONSTRAINT [fkChoice_QuestionId]
GO
ALTER TABLE [ExamSystem].[Exam]  WITH CHECK ADD  CONSTRAINT [fkExam_ClassId] FOREIGN KEY([ClassId])
REFERENCES [Academic].[Class] ([ClassId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[Exam] CHECK CONSTRAINT [fkExam_ClassId]
GO
ALTER TABLE [ExamSystem].[Exam]  WITH CHECK ADD  CONSTRAINT [fkExam_CourseId] FOREIGN KEY([CourseId])
REFERENCES [Academic].[Course] ([CourseId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[Exam] CHECK CONSTRAINT [fkExam_CourseId]
GO
ALTER TABLE [ExamSystem].[Exam]  WITH CHECK ADD  CONSTRAINT [fkExam_ExamTypeId] FOREIGN KEY([ExamTypeId])
REFERENCES [ExamSystem].[ExamType] ([ExamTypeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[Exam] CHECK CONSTRAINT [fkExam_ExamTypeId]
GO
ALTER TABLE [ExamSystem].[Exam]  WITH CHECK ADD  CONSTRAINT [fkExam_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [Academic].[Instructor] ([InstructorId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[Exam] CHECK CONSTRAINT [fkExam_InstructorId]
GO
ALTER TABLE [ExamSystem].[ExamQuestions]  WITH CHECK ADD  CONSTRAINT [fkExamQuestions_ExamId] FOREIGN KEY([ExamId])
REFERENCES [ExamSystem].[Exam] ([ExamId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[ExamQuestions] CHECK CONSTRAINT [fkExamQuestions_ExamId]
GO
ALTER TABLE [ExamSystem].[ExamQuestions]  WITH CHECK ADD  CONSTRAINT [fkExamQuestions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [ExamSystem].[QuestionPool] ([QuestionId])
GO
ALTER TABLE [ExamSystem].[ExamQuestions] CHECK CONSTRAINT [fkExamQuestions_QuestionId]
GO
ALTER TABLE [ExamSystem].[QuestionPool]  WITH CHECK ADD  CONSTRAINT [fkQuestionPool_CourseId] FOREIGN KEY([CourseId])
REFERENCES [Academic].[Course] ([CourseId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[QuestionPool] CHECK CONSTRAINT [fkQuestionPool_CourseId]
GO
ALTER TABLE [ExamSystem].[QuestionPool]  WITH CHECK ADD  CONSTRAINT [fkQuestionPool_QustionTypeId] FOREIGN KEY([QustionTypeId])
REFERENCES [ExamSystem].[QustionType] ([QustionTypeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[QuestionPool] CHECK CONSTRAINT [fkQuestionPool_QustionTypeId]
GO
ALTER TABLE [ExamSystem].[StudentAnswer]  WITH CHECK ADD  CONSTRAINT [fkStudentAnswer_QuestionChoice] FOREIGN KEY([QuestionId], [ChoiceId])
REFERENCES [ExamSystem].[Choice] ([QuestionId], [ChoiceId])
GO
ALTER TABLE [ExamSystem].[StudentAnswer] CHECK CONSTRAINT [fkStudentAnswer_QuestionChoice]
GO
ALTER TABLE [ExamSystem].[StudentAnswer]  WITH CHECK ADD  CONSTRAINT [fkStudentAnswer_StudentExamId] FOREIGN KEY([StudentExamId])
REFERENCES [ExamSystem].[StudentExam] ([StudentExamId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[StudentAnswer] CHECK CONSTRAINT [fkStudentAnswer_StudentExamId]
GO
ALTER TABLE [ExamSystem].[StudentExam]  WITH CHECK ADD  CONSTRAINT [fkStudentExam_ExamId] FOREIGN KEY([ExamId])
REFERENCES [ExamSystem].[Exam] ([ExamId])
GO
ALTER TABLE [ExamSystem].[StudentExam] CHECK CONSTRAINT [fkStudentExam_ExamId]
GO
ALTER TABLE [ExamSystem].[StudentExam]  WITH CHECK ADD  CONSTRAINT [fkStudentExam_StudentId] FOREIGN KEY([StudentId])
REFERENCES [Academic].[Student] ([StudentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ExamSystem].[StudentExam] CHECK CONSTRAINT [fkStudentExam_StudentId]
GO
ALTER TABLE [Academic].[Class]  WITH CHECK ADD  CONSTRAINT [checkClass_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [Academic].[Class] CHECK CONSTRAINT [checkClass_NameNotWhiteSpace]
GO
ALTER TABLE [Academic].[Course]  WITH CHECK ADD  CONSTRAINT [checkCourse_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [Academic].[Course] CHECK CONSTRAINT [checkCourse_NameNotWhiteSpace]
GO
ALTER TABLE [Academic].[Instructor]  WITH CHECK ADD  CONSTRAINT [checkInstructor_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [Academic].[Instructor] CHECK CONSTRAINT [checkInstructor_NameNotWhiteSpace]
GO
ALTER TABLE [Academic].[Intake]  WITH CHECK ADD  CONSTRAINT [checkIntake_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [Academic].[Intake] CHECK CONSTRAINT [checkIntake_NameNotWhiteSpace]
GO
ALTER TABLE [Academic].[Student]  WITH CHECK ADD  CONSTRAINT [checkStudent_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [Academic].[Student] CHECK CONSTRAINT [checkStudent_NameNotWhiteSpace]
GO
ALTER TABLE [CoreSystem].[Branch]  WITH CHECK ADD  CONSTRAINT [checkBranch_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [CoreSystem].[Branch] CHECK CONSTRAINT [checkBranch_NameNotWhiteSpace]
GO
ALTER TABLE [CoreSystem].[Department]  WITH CHECK ADD  CONSTRAINT [checkDepartment_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [CoreSystem].[Department] CHECK CONSTRAINT [checkDepartment_NameNotWhiteSpace]
GO
ALTER TABLE [CoreSystem].[Role]  WITH CHECK ADD  CONSTRAINT [checkRole_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [CoreSystem].[Role] CHECK CONSTRAINT [checkRole_NameNotWhiteSpace]
GO
ALTER TABLE [CoreSystem].[Track]  WITH CHECK ADD  CONSTRAINT [checkTrack_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [CoreSystem].[Track] CHECK CONSTRAINT [checkTrack_NameNotWhiteSpace]
GO
ALTER TABLE [CoreSystem].[UserAccount]  WITH CHECK ADD  CONSTRAINT [checkUserAccount_EmailFormat] CHECK  (([Email] like '%_@_%._%'))
GO
ALTER TABLE [CoreSystem].[UserAccount] CHECK CONSTRAINT [checkUserAccount_EmailFormat]
GO
ALTER TABLE [CoreSystem].[UserAccount]  WITH CHECK ADD  CONSTRAINT [checkUserAccount_MinLengthEmail] CHECK  ((len(ltrim(rtrim([Email])))>=(12)))
GO
ALTER TABLE [CoreSystem].[UserAccount] CHECK CONSTRAINT [checkUserAccount_MinLengthEmail]
GO
ALTER TABLE [CoreSystem].[UserAccount]  WITH CHECK ADD  CONSTRAINT [checkUserAccount_MinLengthUserName] CHECK  ((len(ltrim(rtrim([UserName])))>=(6)))
GO
ALTER TABLE [CoreSystem].[UserAccount] CHECK CONSTRAINT [checkUserAccount_MinLengthUserName]
GO
ALTER TABLE [ExamSystem].[Choice]  WITH CHECK ADD  CONSTRAINT [checkChoice_ChoiceTxtNotWhiteSpace] CHECK  ((len(ltrim(rtrim([ChoiceTxt])))>(0)))
GO
ALTER TABLE [ExamSystem].[Choice] CHECK CONSTRAINT [checkChoice_ChoiceTxtNotWhiteSpace]
GO
ALTER TABLE [ExamSystem].[Exam]  WITH CHECK ADD  CONSTRAINT [checkExam_EndTimeGreaterStartTime] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [ExamSystem].[Exam] CHECK CONSTRAINT [checkExam_EndTimeGreaterStartTime]
GO
ALTER TABLE [ExamSystem].[Exam]  WITH CHECK ADD  CONSTRAINT [checkExam_ExamDate] CHECK  (([ExamDate]>getdate()))
GO
ALTER TABLE [ExamSystem].[Exam] CHECK CONSTRAINT [checkExam_ExamDate]
GO
ALTER TABLE [ExamSystem].[ExamType]  WITH CHECK ADD  CONSTRAINT [checkExamType_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [ExamSystem].[ExamType] CHECK CONSTRAINT [checkExamType_NameNotWhiteSpace]
GO
ALTER TABLE [ExamSystem].[QuestionPool]  WITH CHECK ADD  CONSTRAINT [checkQuestionPool_QuestionNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Question])))>(0)))
GO
ALTER TABLE [ExamSystem].[QuestionPool] CHECK CONSTRAINT [checkQuestionPool_QuestionNotWhiteSpace]
GO
ALTER TABLE [ExamSystem].[QustionType]  WITH CHECK ADD  CONSTRAINT [checkQustionType_NameNotWhiteSpace] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [ExamSystem].[QustionType] CHECK CONSTRAINT [checkQustionType_NameNotWhiteSpace]
GO
/****** Object:  StoredProcedure [Academic].[usp_AddClass]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Academic].[usp_AddClass]
    @ExecutingUserId INT,
    @Name            NVARCHAR(50),
    @IntakeId        INT,
    @NewClassId      INT OUTPUT
AS
BEGIN
    -- Check Role ( 1 = Admin)
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
    BEGIN THROW 50001, 'Access Denied', 1;RETURN;END

    -- check if exist in track
    IF NOT EXISTS (SELECT 1 FROM Academic.Intake WHERE IntakeId = @IntakeId)
    BEGIN THROW 50002, 'Invalid IntakeId', 1; RETURN;  END

    INSERT INTO Academic.Class (Name, IntakeId)
    VALUES (@Name, @IntakeId);

    SET @NewClassId = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [Academic].[usp_AddCourse]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- we need to create function  AssignStudentToExam and set allow == false



-- ============================================================
--  SECTION 4 – Course & Academic Structure
-- ============================================================

-- usp_AddCourse
CREATE   PROCEDURE [Academic].[usp_AddCourse]
	@ExecutingUserId int ,
    @Name        NVARCHAR(50),
    @Description NVARCHAR(200) = NULL,
    @MaxDegree   INT,
    @MinDegree   INT,
    @NewCourseId INT OUTPUT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    IF @MinDegree >= @MaxDegree
    BEGIN throw 50001 ,'MinDegree must be less than MaxDegree.', 1; RETURN; END

    INSERT INTO Academic.Course (Name, Description, MaxDegree, MinDegree)
    VALUES (@Name, @Description, @MaxDegree, @MinDegree);

    SET @NewCourseId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [Academic].[usp_AddInstructor]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- ============================================================
--  SECTION 2 – Instructor Management
-- ============================================================

-- usp_AddInstructor
CREATE   PROCEDURE [Academic].[usp_AddInstructor]
	@ExecutingUserId int ,
    @Name         NVARCHAR(50),
    @Phone        VARCHAR(50)  = NULL,
    @BirthDate    DATE,
    @Email        VARCHAR(50),
    @UserName     VARCHAR(50),
    @Password     VARCHAR(100),
    @NewInstructorId INT OUTPUT
AS
BEGIN

	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END
		
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @UserId INT;
        EXEC CoreSystem.usp_CreateUserAccount
			@ExecutingUserId = @ExecutingUserId,
            @Email    = @Email,
            @UserName = @UserName,
            @Password = @Password,
            @RoleId = 2,
            @NewUserId = @UserId OUTPUT;

        INSERT INTO Academic.Instructor (Name, Phone, BirthDate, UserId)
        VALUES (@Name, @Phone, @BirthDate, @UserId);

        SET @NewInstructorId = SCOPE_IDENTITY();
        COMMIT;

    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Academic].[usp_AddIntake]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- usp_AddIntake
CREATE   PROCEDURE [Academic].[usp_AddIntake]
	@ExecutingUserId int ,
    @Name         NVARCHAR(50),
    @MaxNoStudent INT,
    @StartDate    DATE = NULL,
    @EndDate      DATE = NULL,
    @TrackId      INT,
    @NewIntakeId  INT OUTPUT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    INSERT INTO Academic.Intake (Name, MaxNoStudent, StartDate, EndDate, TrackId)
    VALUES (@Name, @MaxNoStudent, @StartDate, @EndDate, @TrackId);
    SET @NewIntakeId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [Academic].[usp_AddStudent]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- ============================================================
--  SECTION 3 – Student Management
-- ============================================================

-- usp_AddStudent
CREATE   PROCEDURE [Academic].[usp_AddStudent]
	@ExecutingUserId int ,
    @Name         NVARCHAR(50),
    @BirthDate    DATE,
    @ClassId      INT,
    @Email        VARCHAR(50),
    @UserName     VARCHAR(50),
    @Password     VARCHAR(100),
    @NewStudentId INT OUTPUT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @UserId INT;
        EXEC CoreSystem.usp_CreateUserAccount
			@ExecutingUserId = @ExecutingUserId,
            @Email    = @Email,
            @UserName = @UserName,
            @Password = @Password,
            @RoleId = 3,
            @NewUserId = @UserId OUTPUT;

        INSERT INTO Academic.Student (Name, BirthDate, ClassId, UserId)
        VALUES (@Name, @BirthDate, @ClassId, @UserId);

        SET @NewStudentId = SCOPE_IDENTITY();
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [Academic].[usp_AssignInstructorToCourse]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- usp_AssignInstructorToCourse
CREATE   PROCEDURE [Academic].[usp_AssignInstructorToCourse]
    @ExecutingUserId int , 
    @InstructorId INT,
    @CourseId     INT,
    @ClassId      INT,
    @AcademicYear INT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    IF EXISTS (
        SELECT 1 FROM Academic.CourseOffering
        WHERE  CourseId = @CourseId AND ClassId = @ClassId AND AcademicYear = @AcademicYear
    )
    BEGIN
        -- Update existing assignment
        UPDATE Academic.CourseOffering
        SET    InstructorId = @InstructorId
        WHERE  CourseId = @CourseId AND ClassId = @ClassId AND AcademicYear = @AcademicYear;
    END
    ELSE
    BEGIN
        INSERT INTO Academic.CourseOffering (InstructorId, CourseId, ClassId, AcademicYear)
        VALUES (@InstructorId, @CourseId, @ClassId, @AcademicYear);
    END
END
GO
/****** Object:  StoredProcedure [Academic].[usp_AssignStudentToExam]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_AssignStudentToExam
CREATE   PROCEDURE [Academic].[usp_AssignStudentToExam]
	@ExecutingUserId int ,
    @StudentId INT,
    @ExamId    INT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


-- Check that Instructor owns the Exam
IF NOT EXISTS (SELECT 1 FROM ExamSystem.Exam e
    INNER JOIN Academic.Instructor i ON i.InstructorId = e.InstructorId
    WHERE e.ExamId = @ExamId AND i.UserId = @ExecutingUserId
)
BEGIN THROW 50001, 'Access Denied - You do not own this exam.', 1;  RETURN; END

    IF NOT EXISTS (
        SELECT 1 FROM ExamSystem.StudentExam
        WHERE  StudentId = @StudentId AND ExamId = @ExamId
    )
    BEGIN
        INSERT INTO ExamSystem.StudentExam (StudentId, ExamId, IsAllow, IsComplete)
        VALUES (@StudentId, @ExamId, 1, 0);
    END
    ELSE
    BEGIN
        UPDATE ExamSystem.StudentExam
        SET    IsAllow = 1
        WHERE  StudentId = @StudentId AND ExamId = @ExamId;
    END
END
GO
/****** Object:  StoredProcedure [Academic].[usp_DeleteCourse]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- usp_DeleteCourse
CREATE   PROCEDURE [Academic].[usp_DeleteCourse]
	@ExecutingUserId int ,
    @CourseId INT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    IF EXISTS (SELECT 1 FROM ExamSystem.Exam WHERE CourseId = @CourseId AND EndTime > GETDATE())
    BEGIN throw 50001 , 'Cannot delete course: it has active exams.', 1 ; RETURN; END

    DELETE FROM Academic.Course WHERE CourseId = @CourseId;
END
GO
/****** Object:  StoredProcedure [Academic].[usp_DeleteInstructor]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- usp_DeleteInstructor
CREATE   PROCEDURE [Academic].[usp_DeleteInstructor]
	@ExecutingUserId int ,
    @InstructorId INT
AS
BEGIN
	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    -- Prevent deletion if instructor has active/future exams
    IF EXISTS (
        SELECT 1 FROM ExamSystem.Exam
        WHERE  InstructorId = @InstructorId
          AND  EndTime > GETDATE()
    )
    BEGIN
        throw 50001 , 'Cannot delete instructor: they have active or upcoming exams.', 1;
        RETURN;
    END

    DELETE FROM Academic.Instructor WHERE InstructorId = @InstructorId;
    -- UserAccount cascades via FK
END
GO
/****** Object:  StoredProcedure [Academic].[usp_DeleteStudent]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- usp_DeleteStudent
CREATE   PROCEDURE [Academic].[usp_DeleteStudent]
	@ExecutingUserId int ,
    @StudentId INT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    DELETE FROM Academic.Student WHERE StudentId = @StudentId;
END
GO
/****** Object:  StoredProcedure [Academic].[usp_SearchStudents]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_SearchStudents
-- Flexible search with optional filters.
CREATE   PROCEDURE [Academic].[usp_SearchStudents]
	@ExecutingUserId INT,
    @DepartmentId INT = NULL,
    @BranchId     INT = NULL,
    @TrackId      INT = NULL,
    @IntakeId     INT = NULL,
    @ClassId      INT = NULL,
    @Name         NVARCHAR(50) = NULL
AS
BEGIN

    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 1) = 0
    BEGIN THROW 50001, 'Access Denied', 1; END


    SELECT *
    FROM Academic.vw_AllStudents
    WHERE  (@DepartmentId IS NULL OR DepartmentId = @DepartmentId)
      AND  (@BranchId     IS NULL OR BranchId = @BranchId)
      AND  (@TrackId      IS NULL OR TrackId = @TrackId)
      AND  (@IntakeId     IS NULL OR IntakeId = @IntakeId)
      AND  (@ClassId      IS NULL OR ClassId = @ClassId)
      AND  (@Name         IS NULL OR StudentName LIKE '%' + @Name + '%');
END
GO
/****** Object:  StoredProcedure [Academic].[usp_UpdateCourse]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- usp_UpdateCourse
CREATE   PROCEDURE [Academic].[usp_UpdateCourse]
	@ExecutingUserId int ,
    @CourseId    INT,
    @Name        NVARCHAR(50)  = NULL,
    @Description NVARCHAR(200) = NULL,
    @MaxDegree   INT           = NULL,
    @MinDegree   INT           = NULL
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    UPDATE Academic.Course
    SET    Name        = ISNULL(@Name,        Name),
           Description = ISNULL(@Description, Description),
           MaxDegree   = ISNULL(@MaxDegree,   MaxDegree),
           MinDegree   = ISNULL(@MinDegree,   MinDegree)
    WHERE  CourseId    = @CourseId;
END
GO
/****** Object:  StoredProcedure [Academic].[usp_UpdateInstructor]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- usp_UpdateInstructor
CREATE   PROCEDURE [Academic].[usp_UpdateInstructor]
	@ExecutingUserId int ,
    @InstructorId INT,
    @Name         NVARCHAR(50) = NULL,
    @Phone        VARCHAR(50)  = NULL,
    @BirthDate    DATE         = NULL
AS
BEGIN
	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    IF NOT EXISTS (SELECT 1 FROM Academic.Instructor WHERE InstructorId = @InstructorId)
    BEGIN throw 50001 , 'not found instructo' , 1 ; RETURN; END

    UPDATE Academic.Instructor
    SET    Name      = ISNULL(@Name,      Name),
           Phone     = ISNULL(@Phone,     Phone),
           BirthDate = ISNULL(@BirthDate, BirthDate)
    WHERE  InstructorId = @InstructorId;
END
GO
/****** Object:  StoredProcedure [Academic].[usp_UpdateStudent]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- usp_UpdateStudent
CREATE   PROCEDURE [Academic].[usp_UpdateStudent]
	@ExecutingUserId int ,
    @StudentId INT,
    @Name      NVARCHAR(50) = NULL,
    @BirthDate DATE         = NULL,
    @ClassId   INT          = NULL
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    IF NOT EXISTS (SELECT 1 FROM Academic.Student WHERE StudentId = @StudentId)
    BEGIN throw 50001,'Student not found.', 1; RETURN; END

    UPDATE Academic.Student
    SET    Name      = ISNULL(@Name,      Name),
           BirthDate = ISNULL(@BirthDate, BirthDate),
           ClassId   = ISNULL(@ClassId,   ClassId)
    WHERE  StudentId = @StudentId;
END
GO
/****** Object:  StoredProcedure [CoreSystem].[usp_AddBranch]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- usp_AddBranch
CREATE   PROCEDURE [CoreSystem].[usp_AddBranch]
	@ExecutingUserId int ,
    @Name         NVARCHAR(50),
    @DepartmentId INT,
    @NewBranchId  INT OUTPUT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


    INSERT INTO CoreSystem.Branch (Name, DepartmentId) VALUES (@Name, @DepartmentId);
    SET @NewBranchId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [CoreSystem].[usp_AddDepartment]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- usp_AddDepartment
CREATE   PROCEDURE [CoreSystem].[usp_AddDepartment]
	@ExecutingUserId int ,
    @Name              NVARCHAR(50),
    @NewDepartmentId   INT OUTPUT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    INSERT INTO CoreSystem.Department (Name) VALUES (@Name);
    SET @NewDepartmentId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [CoreSystem].[usp_AddTrack]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- usp_AddTrack
CREATE   PROCEDURE [CoreSystem].[usp_AddTrack]
	@ExecutingUserId int ,
    @Name        NVARCHAR(50),
    @BranchId    INT,
    @NewTrackId  INT OUTPUT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

    INSERT INTO CoreSystem.Track (Name, BranchId) VALUES (@Name, @BranchId);
    SET @NewTrackId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [CoreSystem].[usp_ChangePassword]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- usp_ChangePassword
CREATE   PROCEDURE [CoreSystem].[usp_ChangePassword]
    @UserId      INT,
    @OldPassword VARCHAR(100),
    @NewPassword VARCHAR(100)
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM CoreSystem.UserAccount
        WHERE  UserId = @UserId
          AND  PasswordHashed = HASHBYTES('SHA2_256', @OldPassword)
    )

    BEGIN throw 50001 , 'Not Exist user', 1; RETURN; END

    UPDATE CoreSystem.UserAccount
    SET    PasswordHashed = HASHBYTES('SHA2_256', @NewPassword)
    WHERE  UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [CoreSystem].[usp_CreateUserAccount]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  EXAMINATION SYSTEM  |  DATABASE OBJECTS IMPLEMENTATION
--  Part 3: Stored Procedures
-- ============================================================

-- ============================================================
--  SECTION 1 – User & Authentication Management
-- ============================================================

-- usp_CreateUserAccount
-- Creates a new UserAccount + assigns a role.
CREATE   PROCEDURE [CoreSystem].[usp_CreateUserAccount]
	@ExecutingUserId  int ,
    @Email    VARCHAR(50),
    @UserName VARCHAR(50),
    @Password VARCHAR(100),       -- plain text; hashed inside proc
    @RoleId int ,
	@NewUserId INT OUTPUT
AS 
BEGIN

	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN
		THROW 50001, 'Access Denied', 1;
		RETURN;
	END
    -- Validate role exists
    IF NOT EXISTS ( SELECT 1 FROM CoreSystem.Role WHERE RoleId = @RoleId )
    BEGIN
        THROW 50001, 'Invalid RoleId.', 1;
        RETURN;
    END

	BEGIN TRAN;

    INSERT INTO CoreSystem.UserAccount (Email, UserName, PasswordHashed)
    VALUES (@Email, @UserName, HASHBYTES('SHA2_256', @Password));

	SET @NewUserId = SCOPE_IDENTITY();

    INSERT INTO CoreSystem.UserRole (UserId, RoleId)
    VALUES (@NewUserId,@RoleId);

	COMMIT TRAN;
END
GO
/****** Object:  StoredProcedure [CoreSystem].[usp_DeleteUserAccount]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- usp_DeleteUserAccount
CREATE   PROCEDURE [CoreSystem].[usp_DeleteUserAccount]
	@ExecutingUserId  int ,
    @UserId INT
AS
BEGIN
	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN
		THROW 50001, 'Access Denied', 1;
		RETURN;
	END
    
    DELETE FROM CoreSystem.UserAccount WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [CoreSystem].[usp_LoginUser]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- usp_LoginUser
-- Returns user info + role if credentials match; empty set if not.
CREATE   PROCEDURE [CoreSystem].[usp_LoginUser]
    @UserName VARCHAR(50),
    @Password VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        ua.UserId,
        ua.UserName,
        ua.Email,
        r.Name  AS RoleName
    FROM   CoreSystem.UserAccount  ua
    JOIN   CoreSystem.UserRole     ur  ON ur.UserId  = ua.UserId
    JOIN   CoreSystem.Role         r   ON r.RoleId   = ur.RoleId
    WHERE  ua.NormalizedUserName = UPPER(@UserName)
      AND  ua.PasswordHashed     = HASHBYTES('SHA2_256', @Password);
END
GO
/****** Object:  StoredProcedure [CoreSystem].[usp_UpdateUserAccount]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- usp_UpdateUserAccount
CREATE   PROCEDURE [CoreSystem].[usp_UpdateUserAccount]
	@ExecutingUserId  int ,
    @UserId      INT,
    @Email       VARCHAR(50) = NULL,
    @UserName    VARCHAR(50) = NULL
AS
BEGIN
	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 1) = 0
	BEGIN
		THROW 50001, 'Access Denied', 1;
		RETURN;
	END
	
    IF NOT EXISTS (SELECT 1 FROM CoreSystem.UserAccount WHERE UserId = @UserId)
    THROW 50001, 'user Not Found', 1; RETURN;

    UPDATE CoreSystem.UserAccount
    SET    Email    = ISNULL(@Email,    Email),
           UserName = ISNULL(@UserName, UserName)
    WHERE  UserId   = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DailyBackup]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Daily Backup Procedure
CREATE   PROCEDURE [dbo].[usp_DailyBackup]
AS
BEGIN
    DECLARE @BackupPath NVARCHAR(500) = 'F:\develop\ITI dotNet Full Stack\prjects\sql Project\Backups\';
    DECLARE @FileName NVARCHAR(500);
    DECLARE @BackupName NVARCHAR(200);
    DECLARE @CurrentDate NVARCHAR(50);
    
    SET @CurrentDate = CONVERT(NVARCHAR(50), GETDATE(), 112) + '_' + REPLACE(CONVERT(NVARCHAR(50), GETDATE(), 108), ':', '');
    SET @FileName = @BackupPath + 'ExaminationSystem_' + @CurrentDate + '.bak';
    SET @BackupName = 'ExaminationSystem-Full-' + @CurrentDate;
    
    BEGIN TRY
        BACKUP DATABASE [ExaminationSystem] 
        TO DISK = @FileName
        WITH FORMAT, INIT, NAME = @BackupName, COMPRESSION, STATS = 10;
        
        INSERT INTO CoreSystem.AuditLog (TableName, Operation, ChangedData)
        VALUES ('Database', 'BACKUP', 'File: ' + @FileName);
    END TRY
    BEGIN CATCH
        INSERT INTO CoreSystem.AuditLog (TableName, Operation, ChangedData)
        VALUES ('Database', 'BACKUP_ERROR', ERROR_MESSAGE());
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ManualBackup]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Manual Backup Procedure
CREATE   PROCEDURE [dbo].[usp_ManualBackup]
    @BackupType NVARCHAR(10) = 'FULL'
AS
BEGIN
    DECLARE @BackupPath NVARCHAR(500) = 'F:\develop\ITI dotNet Full Stack\prjects\sql Project\Backups\';
    DECLARE @FileName NVARCHAR(500);
    DECLARE @BackupName NVARCHAR(200);
    DECLARE @CurrentDate NVARCHAR(50);
    
    SET @CurrentDate = CONVERT(NVARCHAR(50), GETDATE(), 112) + '_' + REPLACE(CONVERT(NVARCHAR(50), GETDATE(), 108), ':', '');
    
    IF @BackupType = 'FULL'
    BEGIN
        SET @FileName = @BackupPath + 'ExaminationSystem_Manual_Full_' + @CurrentDate + '.bak';
        SET @BackupName = 'ExaminationSystem-Manual-Full-' + @CurrentDate;
        BACKUP DATABASE [ExaminationSystem] TO DISK = @FileName
        WITH FORMAT, INIT, NAME = @BackupName, COMPRESSION, STATS = 10;
    END
    ELSE IF @BackupType = 'DIFF'
    BEGIN
        SET @FileName = @BackupPath + 'ExaminationSystem_Manual_Diff_' + @CurrentDate + '.bak';
        SET @BackupName = 'ExaminationSystem-Manual-Diff-' + @CurrentDate;
        BACKUP DATABASE [ExaminationSystem] TO DISK = @FileName
        WITH DIFFERENTIAL, FORMAT, INIT, NAME = @BackupName, COMPRESSION, STATS = 10;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateChoice]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_UpdateChoice
CREATE   PROCEDURE [dbo].[usp_UpdateChoice]
	@ExecutingUserId int ,
    @ChoiceId   INT,
    @ChoiceTxt  NVARCHAR(500) = NULL,
    @IsCorrect  BIT           = NULL
AS
BEGIN

	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


 -- Check Instructor teaches the course of this choice
IF NOT EXISTS (SELECT 1 FROM ExamSystem.Choice c
    INNER JOIN ExamSystem.QuestionPool qp  ON qp.QuestionId = c.QuestionId
    INNER JOIN Academic.CourseOffering co ON co.CourseId = qp.CourseId
    INNER JOIN Academic.Instructor i ON i.InstructorId = co.InstructorId
    WHERE c.ChoiceId = @ChoiceId AND i.UserId = @ExecutingUserId)
BEGIN  THROW 50001, 'Access Denied - You do not teach this course.', 1; RETURN;     END

    UPDATE ExamSystem.Choice
    SET    ChoiceTxt = ISNULL(@ChoiceTxt, ChoiceTxt),
           IsCorrect = ISNULL(@IsCorrect, IsCorrect)
    WHERE  ChoiceId  = @ChoiceId;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_AddChoice]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_AddChoice
CREATE   PROCEDURE [ExamSystem].[usp_AddChoice]
	@ExecutingUserId int ,
    @QuestionId  INT,
    @ChoiceTxt   NVARCHAR(500),
    @IsCorrect   BIT,
    @NewChoiceId INT OUTPUT
AS
BEGIN
    
	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


	--Check Instructor teaches this Course when adding choice
IF NOT EXISTS (SELECT 1 FROM ExamSystem.QuestionPool qp
               INNER JOIN Academic.CourseOffering co ON co.CourseId = qp.CourseId
               INNER JOIN Academic.Instructor i ON co.InstructorId = i.InstructorId
               WHERE qp.QuestionId = @QuestionId AND i.UserId = @ExecutingUserId )
BEGIN THROW 50001, 'Access Denied - You do not teach this course.', 1; RETURN; END


    INSERT INTO ExamSystem.Choice (ChoiceTxt, IsCorrect, QuestionId)
    VALUES (@ChoiceTxt, @IsCorrect, @QuestionId);
    SET @NewChoiceId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_AddQuestion]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_AddQuestion
CREATE   PROCEDURE [ExamSystem].[usp_AddQuestion]
    @ExecutingUserId int ,
    @Question        NVARCHAR(1000),
    @QuestionTypeId  INT,
    @CourseId        INT,
    @NewQuestionId   INT OUTPUT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


-- Check Instructor teaches this Course
IF NOT EXISTS (SELECT 1 FROM Academic.CourseOffering co
               INNER JOIN Academic.Instructor i ON co.InstructorId = i.InstructorId
               WHERE i.UserId = @ExecutingUserId AND co.CourseId = @CourseId )
BEGIN   THROW 50001, 'Access Denied - You do not teach this course.', 1;   RETURN;  END
   
  

        
    INSERT INTO ExamSystem.QuestionPool (Question, QustionTypeId, CourseId)
    VALUES (@Question, @QuestionTypeId, @CourseId);
    SET @NewQuestionId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_AutoGradeExam]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- usp_AutoGradeExam
-- Marks all MCQ/T&F answers for a completed exam.
-- Sets GivinMark = QuestionDegree for correct, 0 for wrong.
CREATE   PROCEDURE [ExamSystem].[usp_AutoGradeExam]
	@ExecutingUserId INT,
    @ExamId INT
AS
BEGIN
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 1) = 0
    BEGIN THROW 50001, 'Access Denied', 1;   END

    -- Recalculate all MCQ & T/F answers for this exam

    UPDATE sa
    SET
        sa.IsCorrect =
            CASE 
                WHEN ch.IsCorrect = 1 THEN 1
                WHEN ch.IsCorrect = 0 THEN 0
                ELSE NULL
            END,

        sa.GivinMark =
            CASE 
                WHEN ch.IsCorrect = 1 THEN eq.QuestionDegree
                WHEN ch.IsCorrect = 0 THEN 0
                ELSE NULL
            END

    FROM   ExamSystem.StudentAnswer   sa
    JOIN   ExamSystem.StudentExam     se  ON se.StudentExamId = sa.StudentExamId
    JOIN   ExamSystem.Choice          ch  ON ch.ChoiceId      = sa.ChoiceId
                                         AND ch.QuestionId    = sa.QuestionId
    JOIN   ExamSystem.QuestionPool    qp  ON qp.QuestionId    = sa.QuestionId
    JOIN   ExamSystem.QustionType     qt  ON qt.QustionTypeId = qp.QustionTypeId
    JOIN   ExamSystem.ExamQuestions   eq  ON eq.ExamId        = se.ExamId
                                         AND eq.QuestionId    = sa.QuestionId
    WHERE  se.ExamId = @ExamId
       AND qt.QustionTypeId IN (1, 2);

END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_CalculateExamResults]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_CalculateStudentResult
-- Sums all GivinMark values for a student's exam, stores in StudentExam.TotalDegree,
-- and marks the exam as complete.
CREATE   PROCEDURE [ExamSystem].[usp_CalculateExamResults]
    @ExecutingUserId INT,
    @ExamId INT
AS
BEGIN

    -- Authorization Check
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 1) = 0
    BEGIN THROW 50001, 'Access Denied', 1; END

    ;WITH StudentTotals AS
    (
        SELECT 
            se.StudentExamId,
            ISNULL(SUM(sa.GivinMark), 0) AS Total
        FROM   ExamSystem.StudentExam se
        LEFT JOIN ExamSystem.StudentAnswer sa
               ON sa.StudentExamId = se.StudentExamId
        WHERE  se.ExamId = @ExamId
        GROUP BY se.StudentExamId
    )

    UPDATE se
    SET    se.TotalDegree = st.Total,
           se.IsComplete  = 1
    FROM   ExamSystem.StudentExam se
    JOIN   StudentTotals st 
           ON st.StudentExamId = se.StudentExamId;

END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_CreateExam]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_CreateExam
CREATE   PROCEDURE [ExamSystem].[usp_CreateExam]
	@ExecutingUserId int ,
    @AcademicYear INT,
    @StartTime    DATETIME2,
    @EndTime      DATETIME2,
    @TotalTime    TIME,
    @TotalDegree  INT,
    @ExamTypeId   INT,
    @CourseId     INT,
    @ClassId      INT,
    @InstructorId INT,
    @ExamTitle nvarchar(500),
    @NewExamId    INT OUTPUT
AS
BEGIN

    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


-- Check Instructor teaches this Course
IF NOT EXISTS (SELECT 1 FROM Academic.CourseOffering co
               INNER JOIN Academic.Instructor i ON co.InstructorId = i.InstructorId
               WHERE i.UserId = @ExecutingUserId AND co.CourseId = @CourseId )
BEGIN   THROW 50001, 'Access Denied - You do not teach this course.', 1;   RETURN;  END


    -- Validate TotalDegree vs Course MaxDegree
    DECLARE @MaxDeg INT;
    SELECT @MaxDeg = MaxDegree FROM Academic.Course WHERE CourseId = @CourseId;
    IF @TotalDegree > @MaxDeg
    BEGIN throw 50001 , 'TotalDegree (%d) exceeds Course MaxDegree (%d).', 1; RETURN;  END

    INSERT INTO ExamSystem.Exam
        (AcademicYear, StartTime, EndTime, TotalTime, TotalDegree, ExamTypeId, CourseId, ClassId, InstructorId ,  ExamTitle )
    VALUES
        (@AcademicYear, @StartTime, @EndTime, @TotalTime, @TotalDegree, @ExamTypeId, @CourseId, @ClassId, @InstructorId , @ExamTitle);

    SET @NewExamId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_DeleteChoice]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_DeleteChoice
CREATE   PROCEDURE [ExamSystem].[usp_DeleteChoice]
	@ExecutingUserId int ,
    @ChoiceId INT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


 -- Check Instructor teaches the course of this choice
IF NOT EXISTS (SELECT 1 FROM ExamSystem.Choice c
    INNER JOIN ExamSystem.QuestionPool qp  ON qp.QuestionId = c.QuestionId
    INNER JOIN Academic.CourseOffering co ON co.CourseId = qp.CourseId
    INNER JOIN Academic.Instructor i ON i.InstructorId = co.InstructorId
    WHERE c.ChoiceId = @ChoiceId AND i.UserId = @ExecutingUserId)
BEGIN  THROW 50001, 'Access Denied - You do not teach this course.', 1; RETURN;     END

    DELETE FROM ExamSystem.Choice WHERE ChoiceId = @ChoiceId;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_DeleteExam]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_DeleteExam
CREATE   PROCEDURE [ExamSystem].[usp_DeleteExam]
	@ExecutingUserId int ,
    @ExamId INT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

-- Check if executing instructor who put this exam
IF NOT EXISTS (SELECT 1 FROM ExamSystem.Exam e
    INNER JOIN Academic.Instructor i ON i.InstructorId = e.InstructorId
    WHERE e.ExamId = @ExamId AND i.UserId = @ExecutingUserId )
BEGIN THROW 50001, 'This instructor did not create this exam', 1; RETURN; END

    IF EXISTS (
        SELECT 1 FROM ExamSystem.StudentExam
        WHERE  ExamId = @ExamId AND IsComplete = 1
    )
    BEGIN throw 50001 , 'Cannot delete: students have already completed this exam.',  1; RETURN; END

    DELETE FROM ExamSystem.Exam WHERE ExamId = @ExamId;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_DeleteQuestion]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- usp_DeleteQuestion
CREATE   PROCEDURE [ExamSystem].[usp_DeleteQuestion]
	@ExecutingUserId int ,
    @QuestionId INT
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


	--Check Instructor teaches this Course when deleteting question
    IF NOT EXISTS (SELECT 1 FROM ExamSystem.QuestionPool qp
    JOIN Academic.CourseOffering co ON co.CourseId = qp.CourseId
    WHERE qp.QuestionId = @QuestionId AND co.InstructorId = @ExecutingUserId )
    BEGIN THROW 50001, 'Access Denied - You do not teach this course.', 1; return;  END


    IF EXISTS (
        SELECT 1 FROM ExamSystem.ExamQuestions eq
        JOIN   ExamSystem.Exam e ON e.ExamId = eq.ExamId
        WHERE  eq.QuestionId = @QuestionId AND e.EndTime > GETDATE()
    )
    BEGIN throw 50001 ,'Cannot delete: question is used in an active or upcoming exam.', 1; RETURN; END

    DELETE FROM ExamSystem.QuestionPool WHERE QuestionId = @QuestionId;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_GenerateExamQuestions_Manual]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_GenerateExamQuestions_Manual
-- Instructor passes a comma-separated list of QuestionIds.
-- Uses a STRING_SPLIT approach.

CREATE   PROCEDURE [ExamSystem].[usp_GenerateExamQuestions_Manual]
    @ExecutingUserId INT,
    @ExamId          INT,
    @QuestionIdList  NVARCHAR(MAX)   -- e.g. '1,2,3,4'
AS
BEGIN
    SET XACT_ABORT ON;
    -- 1️⃣ Role Check (Instructor = 2)
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 2) = 0
    BEGIN THROW 50001, 'Access Denied', 1; END

DECLARE @CourseId INT;
-- Ownership + get CourseId
SELECT @CourseId = e.CourseId FROM ExamSystem.Exam e
INNER JOIN Academic.Instructor i ON i.InstructorId = e.InstructorId
WHERE e.ExamId = @ExamId AND i.UserId = @ExecutingUserId;

    IF @CourseId IS NULL
    BEGIN  THROW 50002, 'Access Denied - You do not own this exam.', 1; END

    --  Convert list safely into table
    DECLARE @InputQuestions TABLE( QuestionId INT PRIMARY KEY );
    INSERT INTO @InputQuestions (QuestionId)
    SELECT DISTINCT TRY_CAST(LTRIM(RTRIM(value)) AS INT)
    FROM STRING_SPLIT(@QuestionIdList, ',')
    WHERE TRY_CAST(LTRIM(RTRIM(value)) AS INT) IS NOT NULL;


    -- Validate all questions belong to course
    IF EXISTS (SELECT 1 FROM @InputQuestions iq
        LEFT JOIN ExamSystem.QuestionPool qp ON qp.QuestionId = iq.QuestionId
        WHERE qp.QuestionId IS NULL OR qp.CourseId <> @CourseId )
    BEGIN THROW 50003, 'One or more questions are invalid or not in this course.', 1;END

    BEGIN TRAN;

    -- Insert only non-existing questions
    INSERT INTO ExamSystem.ExamQuestions (ExamId, QuestionId, QuestionDegree)
    SELECT @ExamId, iq.QuestionId, 0 FROM @InputQuestions iq
    WHERE NOT EXISTS ( SELECT 1 FROM ExamSystem.ExamQuestions eq
                       WHERE eq.ExamId = @ExamId AND eq.QuestionId = iq.QuestionId
    );

    COMMIT;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_GenerateExamQuestions_Random]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ExamSystem].[usp_GenerateExamQuestions_Random]
    @ExecutingUserId INT,
    @ExamId          INT,
    @MCQ_Count       INT = 0,
    @TF_Count        INT = 0,
	@DegreeMCQ int =0 ,
	@DegreeTF int =0  
AS
BEGIN
    SET XACT_ABORT ON;

    -- Role Check
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 2) = 0
    BEGIN  THROW 50001, 'Access Denied', 1; return;  END

DECLARE @CourseId INT;
-- Ownership + get CourseId
SELECT @CourseId = e.CourseId FROM ExamSystem.Exam e
INNER JOIN Academic.Instructor i ON i.InstructorId = e.InstructorId
WHERE e.ExamId = @ExamId AND i.UserId = @ExecutingUserId;

    IF @CourseId IS NULL
    BEGIN THROW 50002, 'Access Denied - You do not own this exam.', 1; return ; END;


	DECLARE @Available TABLE ( QustionTypeId INT PRIMARY KEY, AvailableCount INT );

	INSERT INTO @Available (QustionTypeId, AvailableCount)
	SELECT qp.QustionTypeId ,COUNT(*) AS AvailableCount
	FROM ExamSystem.QuestionPool qp
	WHERE qp.CourseId = @CourseId
	  AND NOT EXISTS (SELECT 1 FROM ExamSystem.ExamQuestions eq
					  WHERE eq.ExamId = @ExamId AND eq.QuestionId = qp.QuestionId )
	GROUP BY qp.QustionTypeId;

	DECLARE @AvailableMCQ   INT = ISNULL((SELECT AvailableCount FROM @Available WHERE QustionTypeId = 1), 0);
	DECLARE @AvailableTF    INT = ISNULL((SELECT AvailableCount FROM @Available WHERE QustionTypeId = 2), 0);

	IF @AvailableMCQ < @MCQ_Count
		THROW 50001, 'Not enough MCQ questions available.', 1;

	IF @AvailableTF < @TF_Count
		THROW 50001, 'Not enough T&F questions available.', 1;



    BEGIN TRAN;

    -- MCQ
    INSERT INTO ExamSystem.ExamQuestions (ExamId, QuestionId, QuestionDegree)
    SELECT TOP (@MCQ_Count) @ExamId, qp.QuestionId, @DegreeMCQ
    FROM ExamSystem.QuestionPool qp
    WHERE qp.CourseId = @CourseId
      AND qp.QustionTypeId = 1   -- MCQ TypeId
      AND NOT EXISTS ( SELECT 1 FROM ExamSystem.ExamQuestions eq
                       WHERE eq.ExamId = @ExamId AND eq.QuestionId = qp.QuestionId )    
    ORDER BY NEWID();

    -- TF
    INSERT INTO ExamSystem.ExamQuestions (ExamId, QuestionId, QuestionDegree)
    SELECT TOP (@TF_Count) @ExamId, qp.QuestionId, @DegreeTF
    FROM ExamSystem.QuestionPool qp
    WHERE qp.CourseId = @CourseId
      AND qp.QustionTypeId = 2   -- TF TypeId
      AND NOT EXISTS (SELECT 1 FROM ExamSystem.ExamQuestions eq
                      WHERE eq.ExamId = @ExamId AND eq.QuestionId = qp.QuestionId )
    ORDER BY NEWID();

    COMMIT;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_GetCourseQuestionPool]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_GetCourseQuestionPool
CREATE   PROCEDURE [ExamSystem].[usp_GetCourseQuestionPool]
	@ExecutingUserId INT,
    @CourseId       INT,
    @QuestionTypeId INT = NULL
AS
BEGIN
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 2) = 0
    BEGIN THROW 50001, 'Access Denied', 2; END

    SELECT
        qp.QuestionId,
        qp.Question,
        qt.[name]   AS QuestionType,
        ch.ChoiceId,
        ch.ChoiceTxt,
        ch.IsCorrect
    FROM   ExamSystem.QuestionPool  qp
    JOIN   ExamSystem.QustionType   qt  ON qt.QustionTypeId = qp.QustionTypeId
    LEFT JOIN ExamSystem.Choice     ch  ON ch.QuestionId    = qp.QuestionId
    WHERE  qp.CourseId = @CourseId
      AND  (@QuestionTypeId IS NULL OR qp.QustionTypeId = @QuestionTypeId)
    ORDER BY qp.QuestionId, ch.ChoiceId;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_GetExamResults]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ExamSystem].[usp_GetExamResults]
@ExecutingUserId INT,
    @ExamId INT
AS
BEGIN
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 2) = 0
    BEGIN THROW 50001, 'Access Denied', 1; END

    SELECT 
        e.ExamId,
        se.StudentExamId,
        s.StudentId,
        ua.UserName AS StudentName,
        SUM(ISNULL(sa.GivinMark, 0)) AS StudentScore,
        e.TotalDegree
    FROM ExamSystem.Exam e
    INNER JOIN ExamSystem.StudentExam se
        ON se.ExamId = e.ExamId
    INNER JOIN Academic.Student s
        ON s.StudentId = se.StudentId
    INNER JOIN CoreSystem.UserAccount ua
        ON ua.UserId = s.UserId
    LEFT JOIN ExamSystem.StudentAnswer sa
        ON sa.StudentExamId = se.StudentExamId
    WHERE e.ExamId = @ExamId
    GROUP BY 
        e.ExamId,
        se.StudentExamId,
        s.StudentId,
        ua.UserName,
        e.TotalDegree
    ORDER BY StudentScore DESC;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_SearchExamsByInstructor]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_SearchExamsByInstructor
CREATE   PROCEDURE [ExamSystem].[usp_SearchExamsByInstructor]
	@ExecutingUserId INT,
    @InstructorId INT,
    @CourseId     INT  = NULL
AS
BEGIN
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 1) = 0
    BEGIN THROW 50001, 'Access Denied', 1; END

    SELECT *
    FROM ExamSystem.vw_ExamSummary
    WHERE InstructorId = @InstructorId
      AND (@CourseId IS NULL OR CourseId = @CourseId);
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_SetQuestionDegree]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_SetQuestionDegree
-- Sets the marks for a single question in an exam.
-- Validates cumulative total does not exceed Course MaxDegree.
CREATE   PROCEDURE [ExamSystem].[usp_SetQuestionDegree]
    @ExecutingUserId INT,
    @ExamId          INT,
    @QuestionId      INT,
    @QuestionDegree  INT
AS
BEGIN
    SET XACT_ABORT ON;

    -- Role Check (Instructor = 2)
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 2) = 0
    BEGIN THROW 50001, 'Access Denied', 1;   END

	declare  @MaxDeg INT ,@CurrentTotal INT ;
	DECLARE @CourseId INT;
-- Ownership + get CourseId
SELECT @CourseId = e.CourseId FROM ExamSystem.Exam e
INNER JOIN Academic.Instructor i ON i.InstructorId = e.InstructorId
WHERE e.ExamId = @ExamId AND i.UserId = @ExecutingUserId;

    IF @CourseId IS NULL
    BEGIN THROW 50002, 'Access Denied - You do not own this exam.', 1;  END

    --Validate question exists in exam
    IF NOT EXISTS (SELECT 1 FROM ExamSystem.ExamQuestions
        WHERE ExamId = @ExamId AND QuestionId = @QuestionId )
    BEGIN THROW 50003, 'Question is not assigned to this exam.', 1;  END

    -- 4️⃣ Prevent negative degree
    IF @QuestionDegree < 0
    BEGIN  THROW 50004, 'Question degree cannot be negative.', 1; END
       
    --Get Course MaxDegree
    SELECT @MaxDeg = MaxDegree FROM Academic.Course WHERE CourseId = @CourseId;

    --Calculate current total excluding this question
    SELECT @CurrentTotal = ISNULL(SUM(QuestionDegree), 0)
    FROM ExamSystem.ExamQuestions
    WHERE ExamId = @ExamId AND QuestionId <> @QuestionId;

    --Validate total does not exceed course max
    IF (@CurrentTotal + @QuestionDegree) > @MaxDeg
    BEGIN THROW 50005,'Total exam degree would exceed Course MaxDegree.', 1; END

    BEGIN TRAN;
    UPDATE ExamSystem.ExamQuestions
    SET QuestionDegree = @QuestionDegree
    WHERE ExamId = @ExamId AND QuestionId = @QuestionId;
    COMMIT;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_SubmitStudentAnswer]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
--  SECTION 7 – Exam Taking & Grading
-- ============================================================


-- usp_SubmitStudentAnswer
-- Records a student's answer for one question.
-- Validates exam is active, student is allowed, and not already answered.

CREATE   PROCEDURE [ExamSystem].[usp_SubmitStudentAnswer]
	@ExecutingUserId INT,
    @StudentExamId INT,
    @QuestionId    INT,
    @ChoiceId      INT = NULL   
AS
BEGIN

    -- Role Check (Instructor = 2)
    IF CoreSystem.fn_CheckUserRole(@ExecutingUserId, 3) = 0
    BEGIN THROW 50001, 'Access Denied', 1;   END

    SET XACT_ABORT ON;

    DECLARE @ExamId INT;
    DECLARE @IsCorrect BIT = NULL;
    DECLARE @GivinMark INT = NULL;
    DECLARE @QuestionDegree INT;
    DECLARE @QuestionTypeId INT;

    --Get ExamId + Check Student Allowed
    SELECT @ExamId = ExamId FROM ExamSystem.StudentExam
    WHERE StudentExamId = @StudentExamId AND IsAllow = 1;

    IF @ExamId IS NULL
        THROW 50001, 'Student is not authorised to take this exam.', 1;

    --Check Exam Active
    IF ExamSystem.fn_IsExamActive(@ExamId) = 0
        THROW 50002, 'The exam is not currently active.', 1;

    --Ensure Question belongs to this Exam
    IF NOT EXISTS (SELECT 1 FROM ExamSystem.ExamQuestions
        WHERE ExamId = @ExamId AND QuestionId = @QuestionId )
    THROW 50003, 'Question is not part of this exam.', 1;

    --Prevent duplicate answer
    IF EXISTS (SELECT 1 FROM ExamSystem.StudentAnswer
        WHERE StudentExamId = @StudentExamId AND QuestionId = @QuestionId )
    THROW 50004, 'Answer already submitted for this question.', 1;

    --Get Question Type + Degree
    SELECT 
        @QuestionTypeId = qp.QustionTypeId,
        @QuestionDegree = eq.QuestionDegree
    FROM ExamSystem.QuestionPool qp
    JOIN ExamSystem.ExamQuestions eq 
        ON eq.QuestionId = qp.QuestionId
    WHERE qp.QuestionId = @QuestionId
      AND eq.ExamId = @ExamId;

    BEGIN TRAN;

    -- Auto-grading for MCQ / TF
    IF @QuestionTypeId IN (1,2)  -- MCQ / T&F
    BEGIN
        -- Validate choice belongs to question
        IF NOT EXISTS ( SELECT 1 FROM ExamSystem.Choice
            WHERE ChoiceId = @ChoiceId AND QuestionId = @QuestionId )
        THROW 50005, 'Invalid choice for this question.', 1;

        SELECT @IsCorrect = IsCorrect
        FROM ExamSystem.Choice
        WHERE ChoiceId = @ChoiceId;

        IF @IsCorrect = 1
            SET @GivinMark = @QuestionDegree;
        ELSE
            SET @GivinMark = 0;
    END

    --Insert Answer
    INSERT INTO ExamSystem.StudentAnswer
        (IsCorrect, GivinMark, StudentExamId, QuestionId, ChoiceId)
    VALUES
        (@IsCorrect, @GivinMark, @StudentExamId, @QuestionId, @ChoiceId);

    COMMIT;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_UpdateChoice]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_UpdateChoice
CREATE   PROCEDURE [ExamSystem].[usp_UpdateChoice]
	@ExecutingUserId int ,
    @ChoiceId   INT,
    @ChoiceTxt  NVARCHAR(500) = NULL,
    @IsCorrect  BIT           = NULL
AS
BEGIN

	IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END


-- Check Instructor teaches the course of this choice
IF NOT EXISTS (SELECT 1 FROM ExamSystem.Choice c
    JOIN ExamSystem.QuestionPool qp ON qp.QuestionId = c.QuestionId
    JOIN Academic.CourseOffering co ON co.CourseId = qp.CourseId
    WHERE c.ChoiceId = @ChoiceId AND co.InstructorId = @ExecutingUserId )
BEGIN  THROW 50001, 'Access Denied - You do not teach this course.', 1; RETURN;  END

    UPDATE ExamSystem.Choice
    SET    ChoiceTxt = ISNULL(@ChoiceTxt, ChoiceTxt),
           IsCorrect = ISNULL(@IsCorrect, IsCorrect)
    WHERE  ChoiceId  = @ChoiceId;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_UpdateExam]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ExamSystem].[usp_UpdateExam]
	@ExecutingUserId int ,
    @ExamId      INT,
    @StartTime   DATETIME2 = NULL,
    @EndTime     DATETIME2 = NULL,
    @TotalTime   TIME      = NULL,
    @TotalDegree INT       = NULL,
    @ExamTypeId  INT       = NULL,
	@ExamTitle nvarchar(500)
AS
BEGIN

    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

-- Check if executing instructor who put this exam
IF NOT EXISTS (SELECT 1 FROM ExamSystem.Exam e
    INNER JOIN Academic.Instructor i ON i.InstructorId = e.InstructorId
    WHERE e.ExamId = @ExamId AND i.UserId = @ExecutingUserId )
BEGIN THROW 50001, 'This instructor did not create this exam', 1; RETURN; END


    -- Cannot modify after exam has started
    IF EXISTS (SELECT 1 FROM ExamSystem.Exam WHERE ExamId = @ExamId AND StartTime <= GETDATE())
    BEGIN throw 50001 , 'Exam has already started and cannot be modified.', 1; RETURN; END

    UPDATE ExamSystem.Exam
    SET    StartTime   = ISNULL(@StartTime,   StartTime),
           EndTime     = ISNULL(@EndTime,     EndTime),
           TotalTime   = ISNULL(@TotalTime,   TotalTime),
           TotalDegree = ISNULL(@TotalDegree, TotalDegree),
           ExamTypeId  = ISNULL(@ExamTypeId,  ExamTypeId),
		   ExamTitle   = ISNULL(@ExamTitle,  ExamTitle)
    WHERE  ExamId = @ExamId;
END
GO
/****** Object:  StoredProcedure [ExamSystem].[usp_UpdateQuestion]    Script Date: 3/5/2026 4:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_UpdateQuestion
CREATE   PROCEDURE [ExamSystem].[usp_UpdateQuestion]
	@ExecutingUserId int ,
    @QuestionId      INT,
    @Question        NVARCHAR(1000) = NULL,
    @QuestionTypeId  INT            = NULL
AS
BEGIN
    IF [CoreSystem].[fn_CheckUserRole](@ExecutingUserId, 2) = 0
	BEGIN THROW 50001, 'Access Denied', 1; RETURN; 	END

-- Check Instructor teaches this Course when updating question
IF NOT EXISTS (SELECT 1 FROM ExamSystem.QuestionPool qp
               INNER JOIN Academic.CourseOffering co ON co.CourseId = qp.CourseId
               INNER JOIN Academic.Instructor i ON co.InstructorId = i.InstructorId
               WHERE qp.QuestionId = @QuestionId AND i.UserId = @ExecutingUserId )
BEGIN THROW 50001, 'Access Denied - You do not teach this course.', 1; RETURN; END

    -- Prevent update if question is in an active exam
    IF EXISTS (
        SELECT 1 FROM ExamSystem.ExamQuestions eq
        JOIN   ExamSystem.Exam e ON e.ExamId = eq.ExamId
        WHERE  eq.QuestionId = @QuestionId AND e.EndTime > GETDATE()
    )
    BEGIN throw 50001, 'Question is in an active exam and cannot be modified.',  1; RETURN; END

    UPDATE ExamSystem.QuestionPool
    SET    Question      = ISNULL(@Question,       Question),
           QustionTypeId = ISNULL(@QuestionTypeId, QustionTypeId)
    WHERE  QuestionId    = @QuestionId;
END
GO
USE [master]
GO
